<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fxiaoke_appid" value="FSAID_1317cf4"/>
    <add key="fxiaoke_appsecret" value="7faded1267ba492aa3eafe1aae12e86e"/>
    <add key="fxiaoke_apppermanentcode" value="4EB0845137A6411E69850DFC5A94BB1E"/>
    <add key="fxiaoke_defaultOpenUserId" value="FSUID_FACEAA83D4F0EE9591CDB911563EECBC"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
