<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fxiaoke_appid" value="FSAID_1317cde"/>
    <add key="fxiaoke_appsecret" value="1909c5c548244d36bdc93c6d293e4f8b"/>
    <add key="fxiaoke_apppermanentcode" value="6FE4EAB36C49B0D8EFD57B18261932D4"/>
    <add key="fxiaoke_defaultOpenUserId" value="FSUID_0642D2A6D0AC2FEDF2BF0930E9469F98"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
